@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login{
    background: url("./assets/images/blurBgBlueBottomCorner.png") center ;
    background-size: cover;
}
.bg-shopNow{
    background:url("./assets/images/airplane2.jpg") center;
     background-size: contain;
}
.bg-banner{
    background:url("./assets/images/ooorganize-2.svg") center;
     background-size: cover;
}
@font-face {
    font-family: Quicksand;
    src: url(./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
.quicksand{
    font-family: Quicksand;
}
.loginBtnAnimation{
    width: 0%;
    animation: loginBtnAnimate 3s ease-in infinite;
}
@keyframes loginBtnAnimate {
    from{
        width: 0%;
    }
    to{
        width:100%;
    }
}